<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TB_tagsMapper">

	<select id="findMaxId_tags" parameterType="String" resultType="int">
		select
		max(id) from tao4j_tags
	</select>

	<!-- 新增 -->
	<insert id="save" parameterType="pd">
		insert into tao4j_tags(
		code,
		name,
		remark,
		extra,
		type,
		actived,
		id
		) values (
		#{code},
		#{name},
		#{remark},
		#{extra},
		#{type},
		#{actived},
		#{id}
		)
	</insert>


	<!-- 删除 -->
	<delete id="delete" parameterType="pd">
		delete from tao4j_tags
		where
		id
		= #{id}
	</delete>


	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update tao4j_tags
		set
		code =
		#{code},
		name = #{name},
		remark = #{remark},
		extra = #{extra},
		type =
		#{type},
		actived = #{actived}
		where
		id = #{id}
	</update>


	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		code,
		name,
		remark,
		extra,
		type,
		actived,
		id
		from
		tao4j_tags
		where
		id = #{id}
	</select>


	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		a.code,
		a.name,
		a.remark,
		a.extra,
		a.type,
		a.actived,
		a.id
		from
		tao4j_tags a
	</select>

	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		a.code,
		a.name,
		a.remark,
		a.extra,
		a.type,
		a.actived,
		a.id
		from
		tao4j_tags a
	</select>

	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from tao4j_tags
		where
		id in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

</mapper>